# --- Docker Container Config ---
DB_IMAGE=postgres:16-alpine     # db version (exp: postgres:16-alpine)
DB_CONTAINER_NAME=db_cont_name  # unique in datalake

# --- Network Config ---
DB_HOST_IP=db_host              # datalake@ubuntu:/mnt/14TB/PROD_DB$ tailscale ip -4 (exp: 100.115.36.121)
DB_PORT_EXTERNAL=DB_PORT        # port/db (exp:  5432)

# --- Database Internal Credentials ---
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password

# --- Setup ---
TZ=Asia/Ho_Chi_Minh
DOCKER_SOCKET=/var/run/docker.sock

# --- Backup ---
BACKUP_KEEP_COUNT=3
BACKUP_SCHEDULE="0 0 3 * * *"
AUTO_MIGRATE_ON_DEPLOY=true
MIGRATION_TABLE=schema_migrations

CLOUD_BACKUP_ENABLED=true
CLOUD_BACKUP_REMOTE=nmt_user_backup
CLOUD_BACKUP_BASE_PATH=datalake_backups
RCLONE_CONFIG=/project/secrets/rclone/rclone.conf

# --- Logging ---
DB_LOG_ROTATION_AGE_MINUTES=60
DB_LOG_ROTATION_SIZE=50MB
DB_LOG_FILE_MODE=0644
DB_LOG_MAX_FILES=24
DB_LOG_MAX_SIZE_MB=1024
LOG_PRUNE_SCHEDULE="0 0 * * * *"
SYSTEM_LOG_SCHEDULE="0 */2 * * * *"
SYSTEM_LOG_ROTATE_SIZE_MB=20
SYSTEM_LOG_MAX_SIZE_MB=512
SYSTEM_LOG_MAX_FILES=10
CONTAINER_LOG_MAX_SIZE=20m
CONTAINER_LOG_MAX_FILE=5
